.span9.dashboard-element
  .navbar
    .navbar-inner.custom
      .brand-custom{"data-target" => "#ta_table"} Judul TA yang diajukan
      %ul.nav.pull-right
        %li
          %a.btn.btn-navbar-custom{:href => "/topics/new"}
            .icon-pencil
            Create
  #ta_table.dashboard-inner
    %table.table
      - current_user.topics.each do |f|
        %tr
          %td= link_to f.title, f
          %td= label_create f
          %td
            %p{:style => "width: 30px;"}
              = link_to edit_topic_path(f) do
                %i.icon-edit.tool-tip{:title => "edit", :rel => "tooltip"}
              = link_to topic_path(f), :method => :delete, :confirm => "apa anda yakin ?" do
                %i.icon-remove.tool-tip{:title => "remove", :rel => "tooltip"}