<% f.each do |n| %>
  <li <%= 'class=success' if n.read_at == nil %>>
  <% if n.notifiable_type.to_s == "Message" %>
    <%= link_to n.status_description, n.notifiable_type.pluralize.downcase %>
  <% elsif n.notifiable_type.to_s == "Topic" %>
    <%= link_to n.status_description, root_path %>
  <% end %>
  </li>
  <% n.update_column(:read_at, Time.now) %>
<% end %>
<li class="divider"></li>
<li>
  <%= link_to notifications_path do %>
    <b>Lihat semua notifikasi</b>
  <% end %>
</li>