.row
  .span4
    .navbar
      .navbar-inner
        .brand-custom Permintaan
        %ul.nav.pull-right
          %li
            %a.btn.btn-navbar-custom
              .icon-pencil
              Create
  .span8
    .navbar
      .navbar-inner
        .brand-custom Judul TA yang diajukan
        %ul.nav.pull-right
          %li
            %a.btn.btn-navbar-custom
              .icon-pencil
              Create