.row
  = render :partial => "dosen_dashboard/permintaan_konfirmasi"
  = render :partial => "dosen_dashboard/judul_ta"
.row
  = render :partial => "dosen_dashboard/bimbingan_proposal"
  .span6.dashboard-element
    .navbar
      .navbar-inner.custom
        .brand-custom tes