.row
  - if !current_user.student_proposal.nil?
  - user = current_user.student_proposal
    = render :partial => 'mahasiswa_dashboard/proposal_navbar', :locals => {:user => user}
    = render :partial => 'mahasiswa_dashboard/proposal_index', :locals => {:user => user}
  -else
    .span8.dashboard-element
      .navbar
        .navbar-inner.custom
          .brand-custom
      .dashboard-inner
        - if current_user.user_status_id != 1
          %p
            Menunggu konfirmasi dari dosen
        -else
          %p 
            anda belum mempunyai topik tugas akhir. silahkan mencari topik tugas akhir di
            = link_to "sini", topics_path
  .span4.dashboard-element
    .navbar
      .navbar-inner.custom
        .brand-custom Kabar berita
    .dashboard-inner
          